QWidget#center{
    background-color:gray;
/*    background-color:#2E2F30;*/
}
QToolButton { /* all types of tool button */
/*    width: 100px;*/
    height: 40px;
/*    border: 2px;*/
/*    border-radius: 6px;*/
/*    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #f6f7fa, stop: 1 #dadbde);*/
}
QToolBar {
    background: #eeeeee;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar::handle {
    image: url(handle.png);
}
